main.page

  p This is an app for Todoist users who want to get serious with their tasks.
    I'm working on it. See the #{ link_to "Trello board", "https://trello.com/b/LywuGdtf" } for more information.
