<header class="page primary">
  <nav class="menu-bar">
    <ul class="menu">
      <div class="menu-spacer"></div>
      <li><a class="menu-item" href="#">About</a></li>
      <li><a class="menu-item" href="#">Login</a></li>
      <li><a class="menu-item" href="#">Sign in</a></li>
    </ul>
  </nav>

  <div class="page-content center">
    <h1>Get your tasks done. Seriously!</h1>
  </div>
</header>
