<header class="page primary">
  <nav class="menu-bar">
    <ul class="menu">
      <li><a class="menu-item" href="#">About</a></li>
      <li><a class="menu-item" href="#">Login</a></li>
      <li><a class="menu-item" href="#">Sign in</a></li>
    </ul>
  </nav>

  <div class="page-content center">
    <h1 class="title"><%= Rails.configuration.x.name %></h1>
    <h2 class="subtitle">Get your tasks done. Seriously.</h2>
  </div>
</header>
