<nav class="menu-bar">
  <ul class="menu">
    <div class="menu-spacer"></div>
    <li><a class="menu-item" href="#">About</a></li>
    <li><a class="menu-item" href="#">Login</a></li>
    <li><a class="menu-item" href="#">Sign in</a></li>
  </ul>
</nav>
