// colorscheme: https://coolors.co/app/0a0503-6b0f1a-780116-ba2d0b-f7b538

$black:         #0a0503;
$primary-dark:  #6b0f1a;
$primary:       #780116;
$primary-light: #ba2d0b;
$accent:        #f7b538;
$white:         #f5fafc;
