@import colors

.button
  $border-hover: 12px
  $border-pressed: 4px

  background-color: $accent
  border:           0
  bottom:           0
  color:            $black
  margin:           1em
  padding:          1em 2em
  position:         relative
  text-align:       center
  transition:       bottom .2s ease-in

  &:not(.disabled)
    &:hover,
    &:focus
      bottom:  $border-hover
      outline: none

      &::after
        height: $border-hover

  &:not(.disabled):active
    bottom:     $border-pressed
    outline:    none
    transition: border 0s

    &::after
      height:     $border-pressed
      transition: height 0s

  &::after
    background-color: darken($accent, 10%)
    content:          ""
    display:          block
    left:             0
    height:           0
    position:         absolute
    top:              100%
    transition:       height .2s ease-in
    width:            100%

  &.disabled
    background-color: mix($accent, $white)
    color:            lighten($black, 25%)
    cursor:           not-allowed
