@import colors

.flashes
  color:   $black
  margin:  2em 25%
  padding: .1em 2em

  &.danger
    background-color: $primary-light
    color:            $white

  &.alert,
  &.notice
    background-color: $accent
