@import colors

.flashes
  margin:  0 -2em 2em -2em
  padding: .1em 2em

  &.danger
    background-color: $primary-light
    color:            $white

  &.alert,
  &.notice
    background-color: $accent
