@import "colors";

.menu-bar {
  margin: -2em;
  margin-bottom: 0;
}

.menu {
  display:         flex;
  list-style-type: none;
  margin:          0;
  padding:         0;
}

.menu-item {
  color:   $white;
  display: block;
  padding: 1em;
}

.menu-spacer {
  flex-grow: 1;
}
