@import colors

.menu-bar
  background-color: $primary
  font-size:        1.5em
  margin-bottom:    0

  @media (min-width: 450px)
    font-size: inherit

.menu
  display:         flex
  list-style-type: none
  margin:          0
  padding:         0 1em

.menu-item
  color:   $white
  display: block
  padding: 1em

.menu-spacer
  flex-grow: 1

.menu-text
  display: none

  @media (min-width: 450px)
    display: inline
